<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos omnis, ut magnam voluptatum molestiae assumenda tempora corporis asperiores facilis.</p>
        
    </header>
    <div style="width:50%;padding:4rem">

        <div class="plan plan--popular">
            <div class="card card--secondary">
                <div class="card__header">
                    <h3 class="plan__name">Entry</h3>
                    <span class="plan__price">$14</span>
                    <span class="plan__billing-cycle">/month</span>
                    <span class="badge badge--secondary badge--small">10% OFF</span>
                    <span class="plan__description">East start on the cloud</span>
                </div>
                <div class="card__body">
                    <ul class="list list--ticks ">
                        <li class="list__item">unlimited Websites</li>
                        <li class="list__item">Unlimited Bandwidth</li>
                        <li class="list__item">100 GB SSD Sotrage</li>
                        <li class="list__item">3 GB RAM</li>
                      </ul>
                      <button class="btn btn--outline btn--block">buy now</button>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block block--dark block--skewed-right">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos omnis, ut magnam voluptatum molestiae assumenda tempora corporis asperiores facilis.</p>
    </div>
</section>
