<section class="block container">
    <section class="block__header">
        <h2>Host on the Cloud to keep Growing</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, libero.</p>
    </section>
    <article class="grid grid--col-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use href="./images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nobis? Dolore, dolorem commodi quaerat animi et provident! Ea, accusantium possimus?</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x">
            <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x">
        <img class="feature__image" src="images/easy@2x.jpg" alt="easy-image">
        </picture>
    </article>

    <article class="grid grid--col-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use href="./images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nobis? Dolore, dolorem commodi quaerat animi et provident! Ea, accusantium possimus?</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x">
            <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x">
        <img class="feature__image" src="images/easy@2x.jpg" alt="easy-image">
        </picture>
    </article>
    <article class="grid grid--col-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use href="./images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nobis? Dolore, dolorem commodi quaerat animi et provident! Ea, accusantium possimus?</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x">
            <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x">
        <img class="feature__image" src="images/easy@2x.jpg" alt="easy-image">
        </picture>
    </article>
    <article class="grid grid--col-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use href="./images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nobis? Dolore, dolorem commodi quaerat animi et provident! Ea, accusantium possimus?</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x">
            <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x">
        <img class="feature__image" src="images/easy@2x.jpg" alt="easy-image">
        </picture>
    </article>
    </section>
          